.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: relative;
  z-index: 1000;
  height: 80px;

  &__brand {
    display: flex;
    align-items: center;
    cursor: pointer;
    .brand__image {
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    .brand__logo {
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__slogan {
    flex-grow: 1;
    margin: 0 1rem;
    .slogan__text {
      font-size: 0.9rem;
      line-height: 1.4;
      margin: 0;
    }
  }

  .hamburgerMenu {
    display: flex;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: transform 0.3s ease-in-out;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: transform 0.3s ease-in-out;
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }
    }

    &.open {
      span {
        transform: rotate(45deg);

        &::before {
          top: 0;
          transform: rotate(90deg);
        }

        &::after {
          bottom: 0;
          transform: rotate(90deg);
        }
      }
    }
  }
}
