.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 60px;
  transition: width 0.3s ease;

  &.show {
    width: 250px;
  }
}

.mainContent {
  transition: margin-left 0.3s ease;
  margin-left: 0;

  &.shift {
    margin-left: 250px;
  }
}
