// Layout.scss

.hamburgerMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;

  span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s ease;
  }

  &:hover {
    span {
      background-color: #fff;
    }
  }
}

.content {
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;

  &.bent {
    background-color: #f0f0f0;
    transform: perspective(1000px) rotateY(15deg);
  }
}

.sideNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: transform 0.5s ease, visibility 0.5s ease;
  z-index: 2; /* Ensure side navbar is above main content */

  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(-250px);
    visibility: hidden; /* Hide when closed */
  }
}
