// Layout.scss

// Hamburger Menu styles
.hamburgerMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease;

  span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }

  span:nth-child(2) {
    width: 20px;
  }

  span:first-child {
    transform: translateY(-6px) rotate(0deg);
  }

  span:last-child {
    transform: translateY(3px) rotate(0deg);
  }

  &.open {
    span:first-child {
      transform: translateY(3px) rotate(45deg);
    }

    span:last-child {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

// Sidebar styles
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #333;
  overflow-x: hidden;
  padding-top: 60px;
  transition: width 0.3s ease;

  &.show {
    width: 250px; // Adjust width as needed
  }

  // Sidebar content styles
  // Add your styles for sidebar items and links here
}

// Main Content styles
.mainContent {
  transition: margin-left 0.3s ease;
  margin-left: 0;

  &.shift {
    margin-left: 250px; // Adjust margin to match sidebar width
  }

  // Add your styles for the main content here
}

/* Hide scrollbar when sidebar is open */
body {
  overflow: hidden;
}
