// Sidebar.scss
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  color: black;
  padding: 20px;
  position: fixed;
  left: -250px;
  top: 0;
  transition: left 0.3s ease;

  &.open {
    left: 0;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;

    .icon {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 5px 0;
      transition: transform 0.3s ease;
    }

    .close {
      &:before,
      &:after {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .nav {
    list-style-type: none;
    padding: 0;

    div {
      color: white;
      cursor: pointer;
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
